// ШРИФТЫ 

:root {
    --fs-body: 0.875rem;  
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-nav: 1.25rem;
    --fs-big-text: 0.875rem;
    --fs-small-text: 0.750rem;
}

@media (min-width: $width-tbl) {
    :root {
        --fs-body: 1rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.25rem;
        --fs-nav: 1.125rem;
        --fs-big-text: 1.25rem;
        --fs-small-text: 0.875rem;
    }
}

@media (min-width: $width-dsk) {
    :root {
        --fs-nav: 1.25rem;
    }
}

// ГЛОБАЛЬНЫЕ СТИЛИ

body {
    min-width: $width-mbl;
    margin: 0 auto;
    padding: 0;
  
    font-family: $ff-primary;
    font-size: var(--fs-body);
    line-height: $lh-primary;
    color: $clr-text;
    font-weight: $fw-reg;
    font-style: normal; 
  
    background-color: $clr-light;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

// Кнопки 

.button {
  display: block;

  padding: 15px 25px;
  
  font-family: $ff-primary;
  font-size: var(--fs-big-text);
  line-height: $lh-secondary;
  font-weight: $fw-reg;
  color: $clr-light;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $clr-accent;
  border: none;
}

// Состояния кнопок 

.button:hover,
.button:focus {
  color: $clr-light;

  background-color: $clr-light;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--light:hover,
.button--light:focus {
  color: $clr-light;

  background-color: $clr-light;
}

.button--light:active {
  color: rgba(210, 40, 86, 0.3);
}

.button--disabled:hover,
.button--disabled:focus {
  color: rgba(40, 54, 69, 0.3);
  
  border: 3px solid rgba(40, 54, 69, 0.3);
  background-color: transparent;
} 

// =========Поля формы==========

// Текстовые поля

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 18px 20px;

  font-size: 1.25rem;
  color: $clr-text;

  background-color: transparent;
  border: 1px solid $br-clr-secondary;
}

// Состояния текстовых полей

input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="text"]:active,
input[type="tel"]:active,
input[type="email"]:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

// Чекбоксы

input[type="checkbox"] + label::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

input:checked + label::after {
  content: '';

  position: absolute;
  top: 9px;
  left: 7px;

  width: 21px;
  height: 10px;

  border: 2px solid $br-clr-primary;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

// Состояния чекбоксов

input[type="checkbox"]:hover + label::before {
  border: 2px solid #283645;
}

input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:active + label::before {
  border: 2px solid #d22856;
}

// Радиокнопки

input[type="radio"] + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked + label::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  width: 15px;
  height: 15px;

  background-color: $clr-light;
  border-radius: 50%;
}

// Состояния радиокнопок

input[type="radio"]:hover + label::before {
  border: 2px solid $clr-dark;
}

input[type="radio"]:focus + label::before,
input[type="radio"]:active + label::before {
  border: 2px solid $clr-light;
}

// Placeholders

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input:-moz-placeholder,
textarea:-moz-placeholder { 
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input::-moz-placeholder,
textarea::-moz-placeholder {  
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

// Сброс настроек по умолчанию

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
p,
h1, 
h2,
h3, 
h4,
h5,
h6,
figure {
  margin: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}