// Font
$ff-primary              : "Oswald", "PT Sans", sans-serif;
$ff-secondary            : "Arial", "PT Sans", sans-serif;

// Font-sizes

$fs-body                 : 18px;

// Font-weight 

$fw-reg                  : 400;
$fw-med                  : 500;
$fw-bold                 : 700;

// Line-height

$lh-primary              :1.3;
$lh-secondary            :1.4;

// Media Thresholds
$width-dsk              : 1440px; 
$width-tbl              : 768px;
$width-mbl              : 320px;

// Main Colors 
$clr-text               :#444444;
$clr-accent             :#68b738;
$clr-light              :#fff;
$clr-dark               :#111;

//Border Colors 
$br-clr-primary         :#cdcdcd;
$br-clr-secondary       :#e6e6e6;

//Background Colors

$bg-clr-light           :#f2f2f2;