.diet {
    overflow: hidden;

    &__text {
        width: 240px;
        margin: 0 20px;
        margin-bottom: 15px;

        color: $clr-dark;
        text-transform: uppercase;
    }

    &__form-item {
        padding: 25px 20px;

        border-bottom: 1px solid $br-clr-primary;
    }

    &__form-item:last-child {
        border-bottom: none;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 10px 20px 0;
    }

    &__button {
        width: 100%;
        margin-bottom: 25px;
    }

    &__legend {
        font-family: $ff-secondary;
    }
}

@media(min-width: $width-tbl) {
    .diet {
    
        &__text {
            width: 350px;
            margin: 0 70px;
            margin-bottom: 65px;
        }

        &__form {
            padding: 0 70px;
        }
    
        &__form-item {
            padding: 0;
    
            border-bottom: none;
        }

        &__form-item--cat-name {
            margin-bottom: 70px;
        }

        &__form-item--goal {
            margin-bottom: 75px;
        }

        &__form-item--user-contacts {
            margin-bottom: 70px;
        }

        &__form-item--comment {
            margin-bottom: 70px;
        }

        &__form-item--products {
            margin-bottom: 55px;
        }
    
        &__bottom {
            flex-direction: row;
            justify-content: flex-start;
    
            padding: 0;
        }

        &__button-container {
            width: 50%;
        }
    
        &__button {
            width: 80%;
            min-width: 285px;
            max-width: 400px;
            margin-bottom: 0;
            
        }

        &__legend {
            width: 50%;
            
        }
    }
}

@media(min-width: $width-dsk) {
    .diet {
    
        &__text {
            padding: 0 110px;
        }

        &__form {
            padding: 0 110px;
        }

        &__form-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__form-item--cat-name {
            display: flex;
            flex-direction: column;

            width: calc(50% - 40px);
            margin-right: 40px;
        }

        &__cat-name {
            display: flex;
            height: 100%;
        }

        &__form-item--goal {
            width: calc(50% - 40px);
            margin-left: 40px;
            margin-bottom: 70px;
        }

        &__form-item--user-contacts {
            width: 100%;
        }

        &__form-item--comment {
            width: 100%;
        }

        &__form-item--products {
            width: 100%;
        }
    
        &__bottom {
            flex-direction: row;
            justify-content: space-between;
    
            padding: 0;
        }
    
        &__button {
            width: 50%;
            margin-bottom: 0;
        }
    }
}