.example {
    padding: 25px 20px 40px;

    background-color: $bg-clr-light;

    &__title {
        margin-bottom: 30px;

        font-size: var(--fs-h2);
        color: $clr-dark;
        font-weight: $fw-reg;
    }

    &__text {
        margin-bottom: 25px;

        font-family: $ff-secondary;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        position: relative;

        display: flex;
        flex-direction: column-reverse;

        width: 50%;
        margin-bottom: 20px;

        text-align: center;
    }

    &__item-title {
        width: min-content;
        margin: 0 auto;
        margin-top: -13px;
        padding: 0 15px;
        z-index: 100;

        font-family: $ff-secondary;
        font-size: var(--fs-small-text);
        line-height: 1;
        text-transform: lowercase;

        background-color: $bg-clr-light;
    }

    &__item-value {
        width: 80%;
        max-width: 150px;
        margin: 0 auto;
        padding: 10px 20px 18px;

        font-size: 1.5rem;
        color: $clr-dark;
        text-transform: uppercase;
        font-weight: $fw-reg;


        border: 1px solid $br-clr-primary;
        border-radius: 3px;
    }

    &__expenses {
        width: 100%;

        font-size: var(--fs-big-text);
        color: $clr-dark;
        font-weight: $fw-reg;
        text-transform: uppercase;
        text-align: center;
    }

    &__comparison {
        padding-top: 40px;
    }

    &__comparison-image {
        margin: 0 auto;
    } 

    &__comparison-image-wrapper--after {
        display: none;
    }

    &__toggle {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 25px;
    }

    &__toggle-mobile {
        width: 100px;
        height: 14px;
        margin: 0 20px;
        padding: 3px 5px;

        background-color: #fff;
        border: 1px solid $br-clr-primary;
        border-radius: 8px;
        cursor: pointer;
    }

    &__toggle-slider-mobile {
        width: 50%;
        height: 6px;
        
        background-color: $clr-accent;
        border-radius: 8px;    
    }

    &__toggle-desktop {
        display: none;
    }

    &__toggle-button {
        font-family: $ff-primary;
        font-size: var(--fs-body-big);
        color: $clr-dark;
        text-transform: uppercase;

        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}   

// Переключение примера до/после

@media(max-width: $width-tbl - 1px) {
    .example {

        &--after &__toggle-slider-mobile {
            margin-left: auto;
        }
    
        &--after &__comparison-image-wrapper--after {
            display: block;
        }
    
        &--after &__comparison-image-wrapper--before {
            display: none;
        }
    }
}

@media(min-width: $width-tbl) {
    .example {
        padding: 45px 0 0;
    
        background-color: inherit;

        &__column--statistics {
            padding: 0 30px;
        }
    
        &__title {
            margin-bottom: 55px;
        }
    
        &__text {
            margin-bottom: 55px;
        }
    
        &__list {
            justify-content: flex-start;
            align-items: center;
        }
    
        &__item {
            width: 25%;
            margin-bottom: 0;
        }

        &__item + &__item {
            margin-left: 40px;
        }
    
        &__item-title {
            width: max-content;
            margin-top: -10px;
            padding: 0 10px;
    
            background-color: #fff;
        }
    
        &__item-value {
            width: 100%;
            max-width: 200px;
    
            font-size: 1.875rem;
        }
    
        &__expenses {
            width: max-content;
            margin-left: auto;

            text-align: right;

            span {
                display: block;
            }
        }
    
        &__comparison {
            padding-top: 80px;
        }
    
        &__comparison-container {
            min-height: 630px;
            margin-bottom: 0;
            position: relative;
        }

        &__comparison-image-wrapper {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute; 
            top: 0;
            left: 0;     
        }

        &__comparison-image-wrapper--after {
            background-image: linear-gradient(transparent, transparent 25%, #eaeaea 25%, #eaeaea);
            clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        }

        &__comparison-image-wrapper--before {
            background-image: linear-gradient(transparent, transparent 25%, $bg-clr-light 25%, $bg-clr-light);
            clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
        }     
    
        &__toggle {
            position: absolute;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);

            width: 80%;
            max-width: 700px;
        }
    
        &__toggle-mobile {
            display: none;
        }

        // Стилизация скролла
    
        &__toggle-desktop {
            display: block;
            width: 100%;
            box-sizing: border-box;
            margin-left: 25px;
            margin-right: 25px;
      
            -webkit-appearance: none;
            background: transparent;
            outline: none;
          }
      
          &__toggle-desktop::-webkit-slider-thumb {
          -webkit-appearance: none;
        }
      
          &__toggle-desktop::-ms-track {
            width: 100%;
      
            color: transparent;
      
            cursor: pointer;
      
            border-color: transparent;
          }
      
          &__toggle-desktop::-webkit-slider-thumb {
            -webkit-appearance: none;
      
            height: 34px;
            width: 34px;
            box-sizing: border-box;
            margin-top: -14px;
      
            background-color: $clr-accent;
            border: 1px solid #dcdcdc;
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 2px 5px 0 rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            cursor: pointer;
          }
      
          &__toggle-desktop::-webkit-slider-thumb:hover,
          &__toggle-desktop::-webkit-slider-thumb:focus {
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 3px 5px 0 rgba(0, 0, 0, 0.25);
          }
      
          &__toggle-desktop::-webkit-slider-thumb:active {
            border: 2px solid $clr-accent;
            box-shadow: inset 0 0 0 11px #ffffff,
                        0 4px 5px 0 rgba(0, 0, 0, 0.3);
          }
      
          &__toggle-desktop::-moz-range-thumb {
            height: 34px;
            width: 34px;
            box-sizing: border-box;
            margin-top: -14px;
      
            background-color: $clr-accent;
            border: 1px solid #dcdcdc;
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 2px 5px 0 rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            cursor: pointer;
          }
      
          &__toggle-desktop::-moz-range-thumb:hover,
          &__toggle-desktop::-moz-range-thumb:focus {
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 3px 5px 0 rgba(0, 0, 0, 0.25);
          }
      
          &__toggle-desktop::-moz-range-thumb:active {
            border: 2px solid $clr-accent;
            box-shadow: inset 0 0 0 11px #ffffff,
                        0 4px 5px 0 rgba(0, 0, 0, 0.3);
          }
      
          &__toggle-desktop::-ms-thumb {
            height: 34px;
            width: 34px;
            box-sizing: border-box;
            margin-top: -10px;
      
            background-color: $clr-accent;
            border: 1px solid #dcdcdc;
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 2px 5px 0 rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            cursor: pointer;
          }
      
          &__toggle-desktop::-ms-thumb:hover,
          &__toggle-desktop::-ms-thumb:focus {
            box-shadow: inset 0 0 0 12px #ffffff,
                        0 3px 5px 0 rgba(0, 0, 0, 0.25);
          }
      
          &__toggle-desktop::-ms-thumb:active {
            border: 2px solid $clr-accent;
            box-shadow: inset 0 0 0 11px #ffffff,
                        0 4px 5px 0 rgba(0, 0, 0, 0.3);
          }
      
          &__toggle-desktop::-webkit-slider-runnable-track {
            width: 100%;
            height: 6px;
      
            cursor: pointer;
            background-color: #dcdcdc;
            border-radius: 4px;
          }
      
          &__toggle-desktop::-moz-range-track {
            width: 100%;
            height: 6px;
      
            cursor: pointer;
            background-color: #dcdcdc;
            border-radius: 4px;
          }
      
          &__toggle-desktop::-ms-track {
            width: 100%;
            height: 3px;
      
            cursor: pointer;
            background-color: #dcdcdc;
            border-radius: 4px;
          }
      
          &__toggle-desktop::-ms-fill-lower {
            width: 100%;
            height: 3px;
      
            cursor: pointer;
            background-color: #dcdcdc;
            border-radius: 4px;
          }

        // / Стилизация скролла
    
        &__toggle-button {
            padding: 0;

            border-bottom: 1px dotted #bebebe;
        }
    }
}

@media(min-width: $width-dsk) {
    .example {
        padding: 30px 0 0;

        &__wrapper {
            display: flex;
        }

        &__column {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        &__column--statistics {
            padding-left: 110px;
            padding-right: 40px;

            background-image: linear-gradient(transparent, transparent 30%, $bg-clr-light 30%, $bg-clr-light);
        }

        &__content {
            height: 100%;
            padding-top: 75px;

            background-color: $bg-clr-light;
        }
    
        &__title {
            padding-top: 60px;
            margin-bottom: 65px;
        }

        &__text {
            margin-bottom: 70px;
        }
    
        &__list {
            justify-content: flex-start;
        }
    
        &__item {
            width: 165px;
            margin-bottom: 60px;
        }

        &__item-title {
            background-color: $bg-clr-light;
        }
    
        &__expenses {
            width: 100%;
            margin-left: 0;

            text-align: left;

            span {
                display: inline-block;

                margin-left: 65px;
            }
        }

        &__comparison {
            padding-top: 0;  
        }
    
        &__comparison-container {
            min-height: 650px;
            margin-bottom: 0;  
        }

        &__comparison-image-wrapper {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute; 
            top: 0;
            left: 0;     
        }

        &__comparison-image-wrapper--after {
            background-image: linear-gradient(transparent, transparent 30%, #eaeaea 30%, #eaeaea);
        }

        &__comparison-image-wrapper--before {
            background-image: linear-gradient(transparent, transparent 30%, $bg-clr-light 30%, $bg-clr-light);
        }

        &__comparison-image {
            height: 517px;
            width: 690px;
            object-fit: cover;
        }

        &__toggle {
            bottom: 80px;
        }
    }
}