.products {
    border: 0;

    &__title {
        display: inline-block;

        position: relative;
        
        margin-bottom: 30px;
        padding-right: 25px;

        font-size: var(--fs-h3);
        color: $clr-dark;
        font-weight: $fw-reg;
        line-height: 1;

        background-color: #fff;
    }

    &__title::after {
        content: '';

        position: absolute;
        top: calc(1em / 2 + 3px);
        z-index: -100;

        width: 100vw;
        height: 3px;

        background-color: $clr-accent;
    }

    &__item {
        margin-bottom: 25px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__label {
        position: relative;

        padding-left: 45px;

        font-size: var(--fs-body-big);
        color: $clr-dark;
        text-transform: uppercase;
    }

    &__label::before {
        top: -3px;
        left: 0;
    }

    &__label::after {
        top: 3px;
        left: 6px;
    }
}

@media(min-width: $width-tbl) {
    .products {
        padding-bottom: 10px;
    
        &__title {
            
            margin-bottom: 60px;
            margin-left: -40px;
            padding-right: 40px;
            padding-left: 40px;
        }
        
        &__title::before,
        &__title::after {
            content: '';
    
            position: absolute;
            top: calc(1em / 2 + 3px);
            z-index: -100;
    
            width: 100vw;
            height: 3px;
    
            background-color: $clr-accent;
        }

        &__title::before {
            left:  -60px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__item {
            width: 50%;
            margin-bottom: 50px;
        }
        
        &__item:nth-last-child(2),
        &__item:last-child {
            margin-bottom: 0;
        }
    
        &__label {
            padding-left: 60px;
        }
    
        &__label::before {
            top: -5px;
            left: 0;
        }
    
        &__label::after {
            top: 7px;
            left: 12px;
        }
    }
}

@media(min-width: $width-dsk) {
    .products {

        &__item {
            width: 25%;
            margin-bottom: 0;
        }
    }
}