.copyright {

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
        color: $clr-text;
    }

    &__link svg path {
        transition: fill 0.1s ease-out;
    }

    &__link:hover svg path {
        fill: $clr-accent; 
    }

    &__link:focus,
    &__link:active {
        opacity: 0.3;
    }

    &__text {
        font-family: $ff-secondary;
        font-size: 1rem;
    }
}

@media(min-width: $width-tbl) {
    .copyright {

        &__text {
            margin-right: 25px;
        }
    }
}