.social {

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    &__item + &__item {
        margin-left: 40px;
    }

    &__link {
        display: flex;
    }

    &__link svg path {
        fill: #666666;
    }

    &__link:hover svg path {
        fill: $clr-accent;
    }

    &__link:focus svg path,
    &__link:active svg path {
        fill: rgba($clr-accent, 0.3);
    }  
}

@media(min-width: $width-tbl) {
    .social {

        &__item + &__item {
            margin-left: 30px;
        }

        &__link--vk svg {
            width: 30px;
            height: 16px;
        }

        &__link--instagram svg {
            width: 23px;
            height: 23px;
        }

        &__link--facebook svg {
            width: 14px;
            height: 28px;
        }
    }
}