// ШРИФТЫ 

:root {
    --fs-body: 0.875rem;
    --fs-body-big: 1rem;  
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-nav: 1.25rem;
    --fs-big-text: 0.875rem;
    --fs-small-text: 0.750rem;
}

@media (min-width: $width-tbl) {
    :root {
        --fs-body: 1rem;
        --fs-body-big: 1.25rem;  
        --fs-h2: 3.75rem;
        --fs-h3: 2.25rem;
        --fs-nav: 1.125rem;
        --fs-big-text: 1.25rem;
        --fs-small-text: 0.875rem;
    }
}

@media (min-width: $width-dsk) {
    :root {
        --fs-nav: 1.25rem;
    }
}

// ГЛОБАЛЬНЫЕ СТИЛИ

body {
    min-width: $width-mbl;
    margin: 0 auto;
    padding: 0;
  
    font-family: $ff-primary;
    font-size: var(--fs-body);
    line-height: $lh-primary;
    color: $clr-text;
    font-weight: $fw-reg;
    font-style: normal; 
  
    background-color: $clr-light;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

// Кнопки 

.button {
  display: block;

  padding: 13px 25px;
  
  font-family: $ff-primary;
  font-size: 1rem;
  line-height: 1;
  font-weight: $fw-reg;
  color: $clr-light;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $clr-accent;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.button--secondary {
  color: $clr-text;

  background-color: $bg-clr-light;
}

// Состояния кнопок 

.button:hover,
.button:focus {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba($clr-light, 0.3);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: #ebebeb;
}

.button--secondary:active {
  color: rgba($clr-text, 0.3);
}

// =========Поля формы==========

// Текстовые поля

.text-input {
  padding: 16px 20px 13px;

  font-size: 1rem;
  color: $clr-text;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: 1px solid $br-clr-secondary;
  transition: outline 0.1s ease-in-out;
}

// Состояния текстовых полей

.text-input:hover {
  outline: 1px solid $br-clr-primary;
}

.text-input:focus,
.text-input:active {
  outline: 2px solid #444444;
}

.error {
  outline-color: #ff8282;
}

// Чекбоксы

.checkbox + label {
  cursor: pointer;
}

.checkbox + label::before {
  content: "";

  position: absolute;

  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: 1px solid $br-clr-primary;
  transition: border 0.1s ease-in-out;
}

.checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 18px;
  height: 10px;
  box-sizing: border-box;

  border-left: 1px solid $clr-accent;
  border-bottom: 1px solid $clr-accent;
  transform: rotate(-45deg);
}

@media(min-width: $width-tbl) {
  .checkbox + label::before {
    width: 40px;
    height: 40px;
  }
}

// Состояния чекбоксов

.checkbox + label:hover::before,
.checkbox + label:focus::before {
  border-color: rgba(186, 186, 186, 1);
}

.checkbox + label:active::before {
  border-color: rgba(186, 186, 186, 0.3);
}

.checkbox:checked + label:active::after {
  border-color: rgba($clr-accent, 0.3);
}

// Радиокнопки

.radio-button + label {
  cursor: pointer;
}

.radio-button + label::before {
  content: "";

  position: absolute;

  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: 1px solid $br-clr-primary;
  border-radius: 50%;
  transition: border 0.1s ease-in-out;
}

.radio-button:checked + label::after {
  content: "";

  position: absolute;

  width: 12px;
  height: 12px;
  box-sizing: border-box;

  background-color: $clr-accent;
  border-radius: 50%;
}

@media(min-width: $width-tbl) {
  .radio-button + label::before {
    width: 40px;
    height: 40px;
  }
  
  .radio-button:checked + label::after {
    width: 18px;
    height: 18px;
  }
}

// Состояния радиокнопок

.radio-button + label:hover::before,
.radio-button + label:focus::before {
  border-color: rgba(186, 186, 186, 1);
}

.radio-button + label:active::before {
  border-color: rgba(186, 186, 186, 0.3);
}

.radio-button:checked + label:active::after {
  background-color: rgba($clr-accent, 0.3);
}

// Placeholders

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input:-moz-placeholder,
textarea:-moz-placeholder { 
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input::-moz-placeholder,
textarea::-moz-placeholder {  
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
  font-family: $ff-primary;
  color: $clr-text;
  font-weight: $fw-reg;
}

// Сброс настроек по умолчанию

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
p,
h1, 
h2,
h3, 
h4,
h5,
h6,
figure {
  margin: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}